body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffd700; /* Golden color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a subtle shadow effect */
    font-size: 4em; /* Increase font size */
    margin-bottom: 30px; /* Increase space below the heading */
}

#message-el {
    font-style: italic;
    font-size: 2em; /* Increase font size */
    margin-bottom: 30px; /* Increase space below the message */
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    color: #fff;
    width: 250px; /* Increase button width */
    background: #ffd700; /* Golden color */
    padding: 20px; /* Increase padding for better button appearance */
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-size: 1.5em; /* Increase font size */
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #ffd70080; /* Semi-transparent golden color on hover */
}
